.middle {
  background-image: url("/assets/images/popcorn.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 150px !important;
}

form {
  width: 340px;
}

.fs-1 {
  font-size: 70px !important;
}

.m-6 {
  margin: 65px;
}
